:root{
    --primary-color:#365486;
    --primary-hover-color:#4A649E;;
    --secondary-color:#A9B5DF;
    --text-dark-color:#000000;
    --text-light-color:#ffffff;
    --primary-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
    margin-bottom: 1rem;
}
img{
    -webkit-user-drag: none;
}
.imp-message{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-weight: 600;
}
.section{
    padding-left:5rem;
    padding-right:5rem;
}
.link-tag{
    cursor: pointer;
}
table{
    border-collapse: collapse;
    margin-bottom: 1rem;
}
thead{
    background: var(--primary-color);
    color: white;
}
td,th{
    border: 1px solid var(--text-dark-color);
    padding: 0.5rem 1rem;
}
td.center{
    text-align: center;
}
.big-checkbox{
    width: 1.2rem;
    height: 1.2rem;
}