.cards-box{
    display: flex
;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.cards-box .each-card{
    width: 400px;
    height: 200px;
    background: #c6c6c6;
    border-radius: 10px;
}
.options-box{
    display: flex
;
    gap: 2rem;
    flex-wrap: wrap;
}
.options-box a{
    background: var(--primary-color);
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    width: 15rem;
    transition: 0.2s ease;
}
.options-box a:hover{
    background: var(--primary-hover-color);
    transform: scale(1.02);
}
.options-box svg{
    font-size: 3rem;
}